img,
video {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

body {
  word-wrap: break-word;
  font-size: 16px;
  font-family: $font_poppins;
  color: $black;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_nantes;
  font-weight: 400;
}
h1 {
  font-size: 48px;
  line-height: 1.2;
}
h2 {
  font-size: 42px;
  line-height: 1.23;
}
h3 {
  font-size: 34px;
  line-height: 1.17;
}
h4 {
  font-size: 26px;
  line-height: 1.23;
}
h5 {
  font-size: 18px;
  line-height: 1.5;
}