.inner-banner-section {
    position: relative;
    background-color: rgba($color_tertiary, 0.2);

    &::before {
        content: none;
        position: absolute;
        inset: 0;
        width: 100%;
        background: $color_tertiary;
        opacity: 0.5;
        height: 100%;
    }

    .bg-image{
        opacity: 0;
        visibility: hidden;
    }

    &.banner-w-image {
        background-color: unset;
        &::before {
            content: '';
        }

        .bg-image {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 1;
            visibility: visible;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .inner-banner-title {
            h1 {
                color: $white;
            }
        }
    }

    .inner-banner-wrap {
        min-height: 420px;
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        isolation: isolate;

        @include breakpoint (small) {
            min-height: 380px;
            padding: 40px 0;
        }

        @include breakpoint (smaller) {
            min-height: 207px;
        }
    }

    .inner-banner-title {
        max-width: 564px;

        h1 {
            color: $color_primary;
            margin: 0;
        }
    }

    .button-wrap {
        margin-top: 35px;

        @include breakpoint (small) {
            margin-top: 25px;
        }
    }
}