.inner-banner-section {
    background-color: rgba($color_tertiary, 0.2);
    .inner-banner-wrap {
        min-height: 420px;
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inner-banner-title{
        max-width: 564px;
        h1{
            color: $color_primary;
            margin: 0;
        }
    }
    .button-wrap{
        margin-top: 35px;
        @include breakpoint (small){
            margin-top: 25px;
        }
    }
}