.faq-section {
    padding: 100px 0 40px;

    @include breakpoint(small) {
        padding: 80px 0 36px;
    }

    .faq-title{
        text-align: center;
        color: $color-primary;
        margin: 0 0 78px;
        text-transform: uppercase;
        @include breakpoint (small){
            margin: 0 0 58px;
        }
    }

    .content-inner {
        .inner {
            margin: 0 0 60px;
            @include breakpoint (small){
                margin: 0 0 44px;
            }
        }

        h3 {
            margin: 0 0 16px;
            color: $color-primary;
        }

        p {
            a {
                text-decoration: underline;
                text-underline-position: under;
                outline: none;
                color: $color_tertiary;
                transition: all 0.4s all;

                &:hover {
                    opacity: 0.6;
                }

            }
        }

    }
}