$font_poppins: 'Poppins', sans-serif;
$font_inter: 'Inter', sans-serif;
$font_jost: 'Jost', sans-serif;
$font_nantes: 'Nantes';
$font_avenir: 'Avenir LT Pro';

// Colors

$color_primary: #C58383;
$color_secondary: #F2DFD2;
$color_tertiary: #C58383; 

$black: #000000;
$white: #ffffff;