$font_poppins: 'Poppins', sans-serif;
$font_inter: 'Inter', sans-serif;
$font_jost: 'Jost', sans-serif;
$font_nantes: 'Nantes';
$font_avenir: 'Avenir LT Pro';

// Colors

$color_primary: #C58383;
$color_secondary: #F2DFD2;
$color_tertiary: #D3A2A2; 

$color_grey: #C2C7CA;

$black: #000000;
$white: #ffffff;