.site-header {
    background: $color_secondary;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

    .header-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 28px 0;
        .site-branding {
            flex: 0 1 20%;
            .custom-logo-link {
                img {
                    width: 186px;
                    height: auto;
                }
            }
        }
        
        .main-navigation {
            flex: 0 1 60%;
        }
        
        .header-right {
            flex: 0 1 20%;
            .header-right-inner {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                .button-wrap {

                }
                .header-cart {
                    margin-left: 42px;
                    img {
                        width: 22px;
                        height: auto;
                    }
                }
            }
        }
    }
}