.main-navigation {
    .menu-toggle {
        display: none;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            a {
                line-height: 1.5;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $black;
                text-decoration: none;
                @include transition(0.4s color);
            }
            &:hover {
                > a {
                    color: $color_primary;
                }
            }
        }
        > li {
            &:not(:last-child) {
                margin-right: 33px;
            }
            &.menu-item-has-children {
                > a {
                    padding-right: 17px;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 9px;
                        right: 0;
                        height: 7px;
                        width: 12px;
                        background-image: url('../../images/arrow-down.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        @include transition(0.4s);
                    }
                }
                ul.sub-menu {
                    display: none;
                }
                &:hover {
                    > a {
                        &:after {
                            background-image: url('../../images/arrow-down-primary.svg');
                        }
                    }
                }
            }
        }
    }
}